@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply w-full;
    height: calc(100vh - 80px);
  }

  .privateContainer {
    overflow: auto;
    margin: 0 auto;
    padding-left: 35rem;
    padding-right: 35rem;
  }

  .step {
    @apply flex flex-col;
    height: 60vh;
  }

  .publicContainer {
    @apply pr-40 pl-40 flex flex-col items-center;
  }
}

body {
  font-size: 20px;
}

div[data-testid="test-textarea-wrapper"] {
  background-color: transparent;
  height: 200px;
  overflow: auto;
}

.step div[data-testid="test-textarea-wrapper"] {
  width: 70%;
}

div[data-testid="ttest-upload"]:hover {
  background-color: red !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

input,
textarea {
  resize: none;
  font-size: 20px !important;
}

.input strong {
  text-align: start;
}
